.e-pal-header {
 // margin: 3rem 2rem;                                                                                                 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grey;
  padding: 15px 50px;

  


  &__search {

    position: relative;

    &-icon {
      height: 20px;
      width: 20px;
      margin-left: 20px;
      fill: $grey-light;
      position: absolute;
      top: 27px;
      left: 10px;
      
    }

    &-field {
      background-color: $grey-dark;
      border: none;
      border-radius: 5px;
      height: 50px;
      width: 20vw;
      margin: 10px;
      color: $grey-light;
      font-size: 18px;
      padding-left: 50px;
      
      
  

      &:focus {
        outline: none;
      }
    }

  }  


  &__media {
    display: flex;
    align-items: center;
  }

 

  &__icon {
    height: 25px;
    width: 25px;
    fill: $grey-light;
    margin-right: 30px;
  }

  &__btn {
      background-color: $yellow;
      color: $grey-dark;
      height: 50px;
      width: 125px;
      border: none;
      border-radius: 5px;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;

      &:focus {
        outline: none;
      }
  }


}

.e-pal-header__user {
  display: flex;
  align-items: center;

  &-name {
    color: $grey-light;
    margin-right: 20px;
    font-size: 15px;
    
  }

  &-img {
    height: 45px;
    width: 45px;
    fill: $grey-light;
    margin-right: 10px;
  }

  &-logout {

    align-self: flex-end;

    &-icon {
      height: 20px;
      width: 20px;
      fill: $grey-light;
      cursor: pointer;
    }
  }

  &-notifications {
    height: 20px;
    width: 20px;
    fill: $grey-light;
    margin-left: 30px;
  }

}