.e-pal-auth-modal {
  width: 300px;
  background: #332f3a;
  display: flex;
  flex-direction: column;
}

.e-pal-auth_modal_close {
  display: flex;
  cursor: pointer;
  align-self: flex-end;
  width: 15px;
  height: 15px;
  transition: all 0.2s ease;

  &:hover {
    fill: white;
  }
}

.e-pal-auth-modal_logo {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
}

.e-pal-auth-modal_title {
  display: flex;
  justify-content: flex-start;
}

.e-pal-auth-modal_title__item {
  color: white;
  cursor: pointer;

  &:nth-child(2) {
    margin-left: 10px;
  }

  &.active {
    color: #fece79;
    border-bottom: 3px solid #fece79;
  }
}

.e-pal-auth-modal_content {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    border: none;
    height: 35px;
  }
}

.e-pal-auth-modal_form {
  width: 100%;
}

.e-pal-auth-modal_form_input {
  width: 100%;
  margin: 15px 0 5px 0;
  color: white;

  span {
    font-size: 13px;
  }
}

.e-pal-auth-modal_logo-svg {
  width: 70px;
  height: 70px;
}

.e-pal-auth-submit-button {
  width: 100%;
  background: #fece79;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  transition: all 1s ease;
  cursor: pointer;
  font-weight: 800;
  border: none;

  &:hover {
    background: #c29e5f;
  }
}

.input-invalid-msg,
.input-invalid-server {
  margin-top: 4px;
  color: #f50909bd;
  font-size: 13px;
}

.input-invalid-server{
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}